body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #222222;
}

h1 {
    font-family: 'Fruktur', cursive;
    margin-left: auto;
    margin-right: auto;
}

.quiz-container {
    font-family: 'Fruktur', cursive;
}

p {
    font-family: 'Fruktur', cursive;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    margin-left: auto;
    margin-right: auto;
}

#preguntas {
    list-style: none;
    padding: 0px;
    margin-top: 100px;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    background-color: transparent;
}

.quiz-container {
    width: 100%;
}

li {
    width: 100%;
    background-color: white;
    color: #222222;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.resultado {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.grafico {
    width: 100%;
}

.grafico div {
    width: 100%;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quiz-header {
    text-align: center;
    color: #222222;
    margin-bottom: 10px;
}

.box {
    width: 100%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: lightblue;
    font-family: 'Fruktur', cursive;
    color: grey;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #24CFE0;
    color: white;
}

button:focus {
    color: white;
    background-color: #28FC5D;
}

label {
    cursor: pointer;
}

.rojo {
    background-color: tomato;
}

.amarillo {
    background-color: goldenrod;
}

.verde {
    background-color: lightgreen;
}

.morado {
    background-color: mediumpurple;
}

.enviar {
    display: flex;
    width: 100%;
    margin-bottom: 0.3rem;
    justify-content: center;
}

.enviar * {
    padding: 0.3rem;
}

#enviar {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 426px) {
    *{
        margin: 0px;
    }

    h1 {
        font-family: 'Fruktur', cursive;
        text-align: center;
        width: 30rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
        font-size: 3rem;
    }
    
    p {
        font-family: 'Fruktur', cursive;
        width: 30rem;
        text-align: center;
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .intro {
        width: 6.25rem;
        height: 6.25rem;
    }

    #preguntas {
        margin-top: 10px;
        width: 100%;
    }

    .contenido {
        display: flex;
        flex-direction: column;
    }
    
    li {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    label {
        font-size: 0.7rem;
    }

    .box {
        margin: 3px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    legend {
        margin-bottom: 10px;
    }

    .resultado {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5rem;
    }

    #enviar {
        width: 100%;
    }

    .enviar {
        justify-content: center;
    }

    span.ct-label.ct-horizontal.ct-end {
        font-size: 0.625rem;
    }

}